html	{background-image: url(../img/bg.png); background-repeat: repeat; height: 100%; width: 680px; margin: 0 auto; padding: 40px 0 100px 0;
		 -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		         box-sizing: border-box;}
		         
#box	{margin-left: 0; margin-bottom: 40px; margin-right: 0; margin-top: 15px; position: static; background-image: url(../img/post.png); background-repeat: repeat; min-height: 350px; padding: 20px 20px 20px 100px;
		 border: 4px solid white;
		 -webkit-border-radius: 12px;
		    -moz-border-radius: 12px;
		         border-radius: 12px;
		 
		 -webkit-box-shadow:       5px 5px 25px rgba(0,0,0,.5);
		 
		 -webkit-box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
		    -moz-box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
		         box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
		 font: 13px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
		 color: #333;
		 background-color: #eee;}
	
#about-box	{ margin-left: 0; margin-bottom: 40px; margin-right: 0; margin-top: 15px; padding-bottom: 20px; padding-top: 20px; position: static; background-image: url(../img/post.png); background-repeat: repeat; min-height: 20px;
		 border: 4px solid white;
		 -webkit-border-radius: 12px;
		    -moz-border-radius: 12px;
		         border-radius: 12px;
		 
		 -webkit-box-shadow:       5px 5px 25px rgba(0,0,0,.5);
		 
		 -webkit-box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
		    -moz-box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
		         box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
		 font: 13px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
		 color: #333;
		 background-color: #eee;}
	
h1	{ letter-spacing: 3px; position: absolute; margin-left: -70px;  padding: 0; white-space: nowrap;
		 font: 36px "Helvetica Neue" , Arial, Helvetica, sans-serif; text-transform: uppercase;
		 color: #aaa; text-align: right;
		 
		 -webkit-transform-origin: left top; -webkit-transform: rotate(270deg) translateX(-100%);
		    -moz-transform-origin: left top;    -moz-transform: rotate(270deg) translateX(-100%);
		      -o-transform-origin: left top;      -o-transform: rotate(270deg) translateX(-100%);
		 
		 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		 font-family: 'Bangers', cursive;
}
		 
h1 sup	{vertical-align: top; font-size: 22px;}
	
/*p	{margin: 20px 0 0 0; padding: 0;}*/
	
div:target	{display: block;}
header	{ border-color: black; border-width: 1px; font-style: italic; letter-spacing: normal; text-shadow: 0px 0px 1px black; color: white; font-size: 50px; font-family: 'Lobster Two', cursive; }
subtitle	{ color: white; font-size: 30px; font-family: 'Maven Pro', cursive; }
img	{ border-color: #c1c1c1; border-width: 3px; border-style: ridge; text-shadow: 0px 0px 1px black; max-width: 520px; }
nav	{ margin-right: 20px; margin-left: 20px; }
pre { text-shadow: 0px 0px 1px black; }
p {text-align: justify; word-wrap: break-word; word-break: normal; text-overflow: ellipsis; width: 520px; max-width: 520px; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px}
a {color: #306bb9; text-decoration: none;}
span {font-size: 20px; color: white;}
